<!DOCTYPE html>
<html>
  <head>
    <title>DungeonsAndDragons</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="content">
          <div class="row">
              <div class="col-md-2">
              </div>
          </div>
      </div>
      <%= yield %>

      <footer><%= link_to "Home", root_path %></footer>
  </body>

  
</html>
