<!-- general layout, importing basic & header/footer stylings for all pages -->

<!DOCTYPE html>
<%= stylesheet_link_tag "headerfooter" %>
<%= stylesheet_link_tag "basics" %>

<html>
<head>
    <title>DungeonsAndDragons</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <header>
        <h2><strong>D&D Resources</strong></h2>
    </header>
    
    <%= yield %>

    <footer><%= link_to "Home", root_path %></footer>
</body>


</html>
